.tit2 {
  font-family: Courgette;
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.tit3 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 6px;
}
